# Required Python packages get listed here, one per line.
# Reccomended to lock the version number to avoid unexpected changes.

openh264==2.1.1
pytorch3d==0.7.2
ld_impl_linux-64==2.38
libgcc-ng==11.2.0
gmp==6.2.1
libunistring==0.9.10
libtasn1==4.16.0
nettle==3.7.3
libgomp==11.2.0
ncurses==6.4
nvidiacub==1.10.0
readline==8.2
libidn2==2.3.2
libstdcxx-ng=11.2.0
gnutls=3.6.15
freqencoder==0.0.0
gridencoder==0.0.0
raymarching-face==0.0.0
shencoder==0.0.0
tensorflow-io-gcs-filesystem==0.32.0
